<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding: 50px 100px;">
        <div><h1><%= email %> , You've been logged in</h1></div>
    <br>
    <form action="/authout" method="get">
        <button type="submit">Logout</button>
    </form>
    </div>
</body>
</html>
